.svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}
svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #d40808;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dashoffset: calc(440 - (440 * 85) / 100);
}
.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px rgb(139, 3, 148);
  background: rgb(34, 34, 34);
  z-index: 1000;
}
.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.percent .number h2 {
  text-shadow: 1px 1px 1px black;
  color: #ff0000;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}
